.watch-display {
  width: 100%;
  height: 150px;
  object-fit: contain;
  padding: 10px;

  mask-image: radial-gradient(circle at 50% 50%, black 65%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at 50% 50%, black 65%, transparent 100%);

  filter: drop-shadow(0 6px 15px rgba(0,0,0,0.25));
  transition: transform 0.25s ease;
}

.watch-display:hover {
  transform: scale(1.1);
}
