.hero-slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  font-size: 2rem;
}
